/apps/miwi/miwi_mesh/miwi_demo_kit/firmware/baldr_wireless_node.X/build/miwikit_pic18f46j50_89xa/
/apps/miwi/miwi_mesh/miwi_demo_kit/firmware/baldr_wireless_node.X/dist/miwikit_pic18f46j50_89xa/
/apps/miwi/miwi_mesh/miwi_demo_kit/firmware/baldr_wireless_node.X/build/
/apps/miwi/miwi_mesh/miwi_demo_kit/firmware/baldr_wireless_node.X/dist/
/apps/miwi/miwi_mesh/miwi_demo_kit/firmware/baldr_wireless_node.X/nbproject/